body {
    height: 100%;
    background-color: #F1E8E4;
}

.coin {
    margin: 20px;
    padding: 20px;
    color: black;
    background: #2B2D42;
    border-radius: 10px;
    box-shadow: 2px 2px 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-coin {
    width: 300px;
    margin: 5px;
    color: #FCFAF9;
}

b {
    font-size: 15px;
}

.card-color {
    background-color: #F1E8E4;
}

.card-overflow {
    overflow: auto;
}
.card-coin {
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

.card-border{
    border-radius: 10px;
}
.height{
    height: 100vh;
    max-height: 100vh;
}

.blur{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.google-btn {
    margin-top: 50px;
    z-index: 999;
}